<h1>AfterThoughts- The Story:</h1>

<div class="well">
  <h3>The Beginning:</h3>
  <p>It wasn't a dark and stormy night. It was an early summer morning, and greatness awaited.</p>
  <hr>
  <h4>The Quest:</h4>
  <p>Our hero had set out months before, steely determination in her eyes. Destined for programming mastery, she joined the Epicodus Guild.</p>
  <hr>
  <h4>The Challenge:</h4>
  <p>Many trials stood between our hero and Devhood- this story is about the task set before her to earn the right to place AngularJS on her list of deeds.</p>
  <p>"Create a site, for members of a guild, jousters or something like that."</p>
  <p>Our hero, a lover of books, chose to to make a place where similar bibliophiles could gather remotely. Here they could receive suggestions for manuscripts, and discuss the texts.</p>
  <hr>
  <h5>And lo, AfterThoughts, crafted from metals and lightning, was created!</h5>
</div>
