<div class="row">
  <div class="col-xs-6 well">
  <h3>Add New Book to Our Reading List</h3>

    <div>
      <label>Book Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div>
      <label>Book Author:</label>
      <br>
      <input #newAuthor>
    </div>

    <div>
      <label>Book Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>

    <div>
      <label>Publication Year:</label>
      <br>
      <input #newPublished>
    </div>

    <div>
      <label>Current Club Focus?:</label>
      <select #newCurrent>
        <option value="current">Yes</option>
        <option value="past">No</option>
      </select>
    </div>
    <br>
    <br>
    <button (click)="submitForm(newTitle.value, newAuthor.value, newDescription.value, newPublished.value, newCurrent.value); newTitle.value=''; newAuthor.value=''; newDescription.value=''; newPublished.value=''; ">Add</button>
    <br>
  </div>
  <div class="col-xs-6 well">
  <h3>Add New Member to Our Club</h3>
  <app-new-user></app-new-user>
    <!-- <div>
      <label>User Name:</label>
      <br>
      <input #newName>
    </div>
    <div>
      <label>Bio:</label>
      <br>
      <textarea #newBio></textarea>
    </div>
    <div>
      <label>Image url</label>
      <br>
      <input #newImg>
    </div>
    <div>
      <label>Favorite Books:</label>
      <br>
      <input #newFavorites>
    </div>
    <div>
      <label>Profile Quote:</label>
      <br>
      <input #newQuote>
      <br>
    </div>
    <br>
    <button (click)="submitUserForm(newName.value, newBio.value, newImg.value, newFavorites.value, newQuote.value); newName.value=''; newBio.value=''; newImg.value=''; newFavorites.value=''; newQuote.value=''">Add</button>
    <br>
  </div> -->

</div>
<div class="well row">

    <h3>Edit</h3>
    <div class="col-xs-6">
      <app-user-list></app-user-list>
    </div>
    <div class="col-xs-6">
      <app-book-list></app-book-list>
    </div>

</div>
