<h3> <em>** Comments and Ratings Coming Soon!**</em></h3>
  <h2>{{(bookToDisplay | async)?.title}}</h2>
  <h3>{{(bookToDisplay | async)?.author}}</h3>
  <p>Published: {{(bookToDisplay | async)?.published}}</p>
  <h5>{{(bookToDisplay | async)?.description}}</h5>
  <hr>

<br>
<br>
<div class="well">

  <h3>Comments:</h3>
  <div *ngFor="let comment of comments | async | commentFilter:bookId " class="panel panel-default">
    <div class="panel-body">
    <h5>{{comment.commentText}}</h5>
    </div>
    <div class="panel-footer">
      <h6>by {{comment.userName}}</h6>
    </div>
  </div>
  <div>
    <app-new-comment></app-new-comment>
  </div>
</div>
